
.Page  {
    
    margin: 2em;
    text-align: justify;
}

.Page > h1 , h4 {
  
    text-align: center;
}    

.portfolio-item {
    padding: 2%
}

.portfolio-item > a {
    background: var(--dark-green);
    border-radius: .5em;
    padding: 2%;
    display: flex;
    text-decoration: none;
    color: black;
    gap: 2%;
    width: 100%;
}

.portfolio-item > a:hover{
    background-color: var(--light-green);
}

.portfolio-item >a > img {
    height: 80px;
    width: 80px;
}