
.Page  {
    
    margin: 2em;
    text-align: justify;
}

.Page > h1 , h4 {
  
    text-align: center;
}    

.portfolio-item {
    padding: 2%
}

.portfolio-item > a {
    background: var(--dark-green);
    border-radius: .5em;
    padding: 2%;
    display: flex;
    text-decoration: none;
    color: black;
    gap: 2%;
    width: 100%;
}

.portfolio-item > a:hover{
    background-color: var(--light-green);
}

.portfolio-item >a > img {
    height: 80px;
    width: 80px;
}

.logos {
    width: 100%;
}
.logos > img {
    width: 40px;
    height:40px;
    background: #328F43;
    margin: 1%;
    padding: 1%;
  }
  
  .logos > a > img {
    width: 40px;
    height:40px;
    background: var(--dark-green);
    /* margin: 1%; */
    padding: 1%;
  }
  .logos > a > img:hover {
    background: #96CE3F;
  }
.contact-form {
    border: 1px solid var(--dark-green);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 2%;
    margin-top: 1%;
    width: 70vw;
}
.contact-form:hover {
    border: 2px solid var(--light-green);
}
input, textarea, button {
    border: 2px solid var(--dark-green);
    padding: 1% 2%;
    background-color: var(--grey);
    width: 100%;
}
input:focus ,textarea:focus, button:focus {
      outline-color: var(--light-green);
      background-color: var(--light-green);
}
label {
      padding: 1% 2%;
}

button {
    margin-top: 2%;
    padding: 1% 2%;
    background-color: var(--dark-green);
}
button:hover{
    background-color: var(--light-green);
}