.Sidebar {
    position: fixed;
    /* top:0; */
    left:0;
    /* bottom: 0; */
    display: flex;
    /* flex-direction: column; */
   
    height: 75vh;
    /* background: rgb(216, 216, 216); */
    border-right: 1px solid var(--dark-green);
    overflow-y: scroll;
    text-align: center;
    transition: all 1s ease-in-out;
}

.Sidebar::-webkit-scrollbar {
    display: none;
  }

.Sidebar:hover {
    border-color: var(--light-green);
  } 

.Sidebar > .arrow:hover {
    background-color: var(--light-green); 
}

.Sidebar > .arrow {
    position: sticky;
    top: 15em;
    width: 1em;
    height: 2em;
    background: var(--dark-green);
    cursor: pointer;
    align-self:auto;
    flex: 1;
  }

.Sidebar > .items {
    flex: 10;
  
    /* transition: all 1s ease-in-out; */
  }

.item-img{
      cursor: pointer;
    
      /* transition: all 1s ease-in-out; */
  }

.narrow > p {
    font-size: 0em;
}
 
.item-img:hover {
    background: var(--light-green);
} 